---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import HeroSection from "../components/HeroSection.astro"
import ServicesSection from "../components/ServicesSection.astro"
import AboutSection from "../components/AboutSection.astro"
import ContactSection from "../components/ContactSection.astro"
import SiteFooter from "../components/SiteFooter.astro"
---

<Layout title="Fisioterapia Gefaell" description="Fisioterapia Gefaell Borras en Coruxo, Vigo. Fisioterapia manual, osteopatia, pilates terapeutico y rehabilitacion personalizada.">
	<Header />
	<main>
		<HeroSection />
		<ServicesSection />
		<AboutSection />
		<ContactSection />
	</main>
	<SiteFooter />
</Layout>


